* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: rgb(242, 241, 239);
}

h1 {
    padding-top: 34px;
    margin-bottom: 20px;
    text-align: center;
}

div.canv {
    display: flex;
    justify-content: center;
}